.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card-title {
  margin-bottom: 1em;
  text-align: center;
}

mat-card {
  padding: 1.5em 1.5em;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  justify-content: space-between;
}

form div > mat-form-field {
  width: calc(50% - 10px);
}

mat-form-field {
  margin-bottom: 1em;
}

.file-input-container {
  border: 1px solid #adadad;
  width: calc(50% - 10px);
  height: 54px;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.file-upload-label {
  height: 100%;
  width: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.file-upload-image {
  height: 42px;
  width: 42px;
  border: 1px solid #adadad;
  border-radius: 50%;
}

::-webkit-file-upload-button {
  height: 54px;
  border-width: 0;
  border-right: 1px solid #adadad;
  outline: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 400px) {
  .main-container {
    top: 65%;
  }

  mat-card {
    width: 300px;
    margin: 0;
    padding: 0.5em 1em;
  }

  form > div {
    flex-direction: column;
  }

  form div > mat-form-field {
    width: 100%;
  }

  .file-input-container {
    width: 100%;
    margin-bottom: 16px;
  }

  mat-form-field {
    margin-bottom: 0.5em;
  }
}
