.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 42px 0;
}

.no-bikes-text {
  text-align: center;
  margin-top: 16px;
}

.bookings-title {
  padding-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.mat-elevation-z8 {
  border: 2px solid #ccc;
  border-radius: 8px;
}

.table-container {
  width: 90%;
  margin: 0 auto;
}

th.mat-header-cell {
  font-weight: bold;
}

.notification-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  padding-top: 8px;
}

.card-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.card {
  position: relative;
  width: 80%;
  margin: 0 auto 8px auto;
}

.card mat-card {
  border-radius: 16px;
  padding: 12px 20px 8px 12px;
}

img {
  width: 120%;
  height: auto;
}

.card-for-larger-width .card-subtitle {
  font-size: 16px;
}

.card-for-larger-width .card-content > p {
  margin-top: 8px;
  font-size: 16px;
}

.card-for-larger-width .image-container {
  width: 280px;
  height: 200px;
  position: absolute;
  top: -2px;
  right: 10%;
}

.card-for-smaller-width {
  display: none;
}

.button-container {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

@media screen and (max-width: 720px) {
  .card-container {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .card-for-larger-width {
    display: none;
  }

  .card-for-smaller-width {
    display: block;
  }

  .mat-mdc-card-header {
    display: flex;
    flex-direction: column;
  }

  .button-container {
    align-items: center;
  }

  .card mat-card {
    padding: 12px;
  }
}
