table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-bikes-text {
  text-align: center;
  margin-top: 16px;
}

.bookings-title {
  margin-top: 16px;
  text-align: center;
}

.mat-elevation-z8 {
  border: 2px solid #ccc;
  border-radius: 8px;
}

.table-container {
  width: 90%;
  margin: 0 auto;
}

th.mat-header-cell {
  font-weight: bold;
}

.notification-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  padding-top: 8px;
}

.card-container {
  width: 70%;
  margin: 0 auto;
}

.card {
  margin-bottom: 16px;
  position: relative;
}

.card mat-card {
  padding: 0 0 20px 20px;
}

img {
  width: 100%;
  height: auto;
}

.card-for-larger-width .image-container {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 16px;
  right: 10%;
}

.card-for-smaller-width {
  display: none;
}

.button-container {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 720px) {
  .card-container {
    width: 90%;
  }

  .card-for-larger-width {
    display: none;
  }

  .card-for-smaller-width {
    display: block;
  }

  .mat-mdc-card-header {
    display: flex;
    flex-direction: column;
  }

  .button-container {
    align-items: center;
  }
}
