.wrapper {
  min-height: 90vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bike-card {
  width: 350px;
  margin: 16px;
  padding: 8px;
}

img {
  max-width: calc(350px - 16px);
  max-height: 200px;
  object-fit: cover;
}

.details {
  margin-top: 16px;
}

mat-card-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-card {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-error {
  margin-left: -0.5em;
}

@media screen and (max-width: 431px) {
  .bike-card {
    width: 300px;
  }

  .date-card {
    width: 300px;
  }
}
