<div class="card-container">
  <mat-card class="bike-card">
    <img
      mat-card-image
      src="{{ bikeToBeBooked?.image }}"
      alt="{{ bikeToBeBooked?.bike_name }}"
    />
    <mat-card-content>
      <h2>{{ bikeToBeBooked?.bike_brand }} {{ bikeToBeBooked?.bike_name }}</h2>
      <p>{{ bikeToBeBooked?.description }}</p>
      <div class="details">
        <p><strong>Price:</strong> Rs.{{ bikeToBeBooked?.price }}/hr</p>
        <p><strong>Color:</strong> {{ bikeToBeBooked?.type }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <form class="date-card" [formGroup]="bookingForm" (ngSubmit)="bookBike()">
        <mat-form-field>
          <input matInput placeholder="Your Name" formControlName="name"/>
          <mat-error>
            *Name is required
          </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Choose "FROM" date</mat-label>
          <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerFrom"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
          <mat-error *ngIf="bookingForm.get('dateFrom')?.errors?.['required']">
            *From Date is required
          </mat-error>
          <mat-error *ngIf="bookingForm.get('dateFrom')?.errors?.['invalidFromDate']">
            *From date should be greater than today's date
          </mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Choose "TO" date</mat-label>
          <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerTo"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
          <mat-error *ngIf="bookingForm.get('dateTo')?.errors?.['required']">
            *To Date is required
          </mat-error>
          <mat-error *ngIf="bookingForm.get('dateTo')?.errors?.['invalidToDate']">
            *To date should be greater than from date
          </mat-error>
        </mat-form-field>
    
        <button mat-raised-button type="submit" color="primary" [disabled]="bookingForm.invalid">
          Book Now
        </button>
    </form>
  </mat-card>
</div>
