<mat-toolbar color="primary" class="navbar" *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
    <div class="navbar-title-container">
      <a href="#" class="navbar-title">Bike-Rent</a>
    </div>
  
    <div class="button-container">
      <a mat-flat-button routerLink="/login" class="login-button">Login</a>
      <a mat-flat-button color="warn" routerLink="/register" class="signup-button">Signup</a>
    </div>
</mat-toolbar>

<mat-toolbar *ngIf="isAdminLoggedIn" color="primary" class="navbar">
  <div class="navbar-title-container">
    <a href="#" class="navbar-title">Admin</a>
  </div>

  <div class="button-container">
    <a mat-button routerLink="/admin/dashboard" class="login-button">Dashboard</a>
    <a mat-button routerLink="/admin/bike" class="login-button">List a bike</a>
    <a mat-flat-button color="warn" class="signup-button" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>

<mat-toolbar *ngIf="isCustomerLoggedIn" color="primary" class="navbar">
  <div class="navbar-title-container">
    <a href="#" class="navbar-title">Customer</a>
  </div>

  <div class="button-container">
    <a mat-button routerLink="/customer/dashboard" class="login-button">Dashboard</a>
    <a mat-flat-button color="warn" class="signup-button" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
  


<router-outlet></router-outlet>





