<div class="card-container">
    <mat-card *ngFor="let bike of allBikes">
      <img mat-card-image src="{{ bike.image }}" alt="{{ bike.bike_name }}" />
      <mat-card-content>
        <h2>{{ bike.bike_brand }} {{ bike.bike_name }}</h2>
        <p>{{ bike.description }}</p>
        <div class="details">
          <p><strong>Price:</strong> Rs.{{ bike.price }}/hr</p>
          <p><strong>Color:</strong> {{ bike.color }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" routerLink="/customer/book/{{bike._id}}">Book</button>
      </mat-card-actions>
    </mat-card>
</div>
