<div class="wrapper">
  <div class="main-container">
    <mat-card class="search-form-container">
      <mat-card-title class="search-form-title"> Search bike </mat-card-title>
      <form
        [formGroup]="searchForm"
        (ngSubmit)="onSearchBike()"
        class="search-form"
      >
        <div class="input-container">
          <mat-form-field appearance="outline" class="name-input-form-field">
            <mat-label>Bike Name</mat-label>
            <input matInput type="text" formControlName="bike_name" />
            <mat-error style="margin-left: -10px">*required</mat-error>
          </mat-form-field>

          <button
            class="search-option-button"
            mat-icon-button
            (click)="toggleOptions($event)"
          >
            <mat-icon class="subject-icon">subject</mat-icon>
          </button>

          <div class="option-container" *ngIf="isOptionShown">
            <mat-form-field appearance="outline">
              <mat-label>Bike Brand</mat-label>
              <mat-select formControlName="bike_brand">
                <mat-option
                  *ngFor="let item of bikeBrands"
                  value="{{ item }}"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Model Year</mat-label>
              <mat-select formControlName="model_year">
                <mat-option
                  *ngFor="let item of modelYears"
                  value="{{ item }}"
                  >{{ item }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let item of types" value="{{ item }}">{{
                  item
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="min-max-price-container">
              <mat-form-field appearance="outline" class="min-price">
                <mat-label class="price-label">Min Price</mat-label>
                <span matTextPrefix style="font-size: 14px">Rs. &nbsp;</span>
                <input matInput type="number" formControlName="minValue" />
              </mat-form-field>

              <mat-form-field appearance="outline" class="max-price">
                <mat-label class="price-label">Max Price</mat-label>
                <span matTextPrefix style="font-size: 14px">Rs. &nbsp;</span>
                <input matInput type="number" formControlName="maxValue" />
              </mat-form-field>
            </div>

            <button
              mat-flat-button
              color="warn"
              (click)="clearForm($event)"
              class="clear-form-button"
            >
              Clear
            </button>
          </div>
        </div>

        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="search-button"
          [disabled]="searchForm.invalid"
        >
          <mat-icon class="search-icon">search</mat-icon> Search
        </button>
      </form>
    </mat-card>

    <h2 *ngIf="searchClicked && !searchedBikeAvailable" class="no-bike-text">
      No bikes found
    </h2>

    <div class="card-container" *ngIf="searchedBikeAvailable">
      <mat-card *ngFor="let bike of allBikes" class="bike-card-container">
        <img
          mat-card-image
          [src]="defaultUrl + '/' + bike.image"
          alt="{{ bike.name }}"
        />
        <mat-card-content>
          <h2>{{ bike.bike_brand }} {{ bike.bike_name }}</h2>
          <p>{{ bike.description | ellipsis }}</p>
          <div class="details">
            <p><strong>Price:</strong> Rs.{{ bike.price }}/hr</p>
            <p><strong>Type:</strong> {{ bike.type }}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-flat-button
            color="primary"
            routerLink="/customer/book/{{ bike._id }}"
          >
            Book
          </button>
          <button
            mat-stroked-button
            color="primary"
            routerLink="/admin/bike/details/{{ bike._id }}"
          >
            Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
