<header>
  <h1 class="about-title">About Us</h1>
</header>
<div class="container">
  <h2>Who We Are</h2>
  <p>
    We are passionate about biking and believe in making it accessible to
    everyone. Our bike rental service was founded with the mission of providing
    high-quality bikes for people to explore their surroundings, whether it's
    for leisure, commuting.
  </p>

  <h2>Our Mission</h2>
  <p>
    We aim to offer convenient and affordable bike rental options while also
    advocating for bike-friendly infrastructure in our communities.
  </p>

  <h2>Why Choose Us</h2>
  <p>
    1. Quality Bikes: We maintain a fleet of well-maintained bikes, ensuring a
    smooth and enjoyable riding experience.<br />
    2. Convenience: Our online booking system makes it easy to reserve a bike in
    advance, saving you time and hassle.<br />
    3. Affordable Rates: We offer competitive rental rates with flexible rental
    periods to suit your needs.<br />
    4. Expertise: Our team is knowledgeable about bikes routes, providing
    recommendations and assistance to enhance your ride.<br />
    5. Sustainability: We are committed to eco-friendly practices, promoting
    cycling as a green mode of transportation.
  </p>
</div>
