/* .wrapper {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.search-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 80%;
  margin: 20px auto;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.min-max-price-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.min-price,
.max-price {
  width: 160px !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  width: 340px;
  margin: 16px;
  padding: 8px;
}

mat-card-content {
  margin-top: 16px;
  height: 180px;
}

img {
  max-width: calc(350px - 16px);
  height: 180px;
  object-fit: cover;
}

.details {
  margin-top: 16px;
}

mat-card-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .search-form-container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .input-container {
    flex-direction: column;
    align-items: stretch;
  }

  .min-max-price-container {
    flex-direction: column;
  }

  .min-price,
  .max-price {
    width: 100% !important;
  }
} */
.wrapper {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 22px;
  align-items: center;
}

.search-form-container {
  width: 40%;
  padding: 16px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 18px;
}

.search-form {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.search-form-title {
  margin-bottom: 16px;
  font-size: 22px;
}

.input-container {
  flex: 0 0 calc(75% - 16px);
  position: relative;
}

.name-input-form-field {
  width: 100%;
}

.search-option-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-icon {
  font-size: 34px;
  height: 40px;
  width: 40px;
}

.search-button {
  flex: 0 0 25%;
  height: 56px;
  font-size: 18px;
}

.search-icon {
  font-size: 20px;
}

.option-container {
  border: 1px solid rgb(150, 150, 150);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  background-color: #fff;
  position: absolute;
  top: 70px;
  right: 0;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  z-index: 999;
}

.min-max-price-container {
  display: flex;
  gap: 16px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  width: 340px;
  margin: 16px;
  padding: 8px;
  border-radius: 16px;
}

mat-card-content {
  margin-top: 16px;
  height: 180px;
}

img {
  max-width: calc(350px - 16px);
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgb(220, 215, 215);
}

.details {
  margin-top: 16px;
}

mat-card-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .search-form-container {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  .search-form-container {
    width: 100%;
  }

  .search-button {
    font-size: 14px;
  }

  .search-icon {
    font-size: 16px;
  }
}
