<div class="main-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
  
  <table
    mat-table
    [dataSource]="bookedBikes"
    class="mat-elevation-z8"
    *ngIf="!isLoading"
  >
    <ng-container matColumnDef="bikeBrand">
      <th mat-header-cell *matHeaderCellDef>Bike Brand</th>
      <td mat-cell *matCellDef="let bike">{{ bike.bike_brand }}</td>
    </ng-container>
  
    <ng-container matColumnDef="bikeName">
      <th mat-header-cell *matHeaderCellDef>Bike Name</th>
      <td mat-cell *matCellDef="let bike">{{ bike.bike_name }}</td>
    </ng-container>

    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let bike">{{ bike.username }}</td>
    </ng-container>
  
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>Start Time</th>
      <td mat-cell *matCellDef="let booking">{{ booking.startTime | date }}</td>
    </ng-container>
    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef>End Time</th>
      <td mat-cell *matCellDef="let booking">{{ booking.endTime | date }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let booking" [ngClass]="{'accepted': booking.status === 'accepted', 'pending': booking.status === 'pending'}">
        {{ booking.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="changeStatus">
      <th mat-header-cell *matHeaderCellDef class="action-header">Action</th>
      <td mat-cell *matCellDef="let booking" class="button-cell">
        <button mat-stroked-button color="primary" class="action-button" (click)="changeBookingStatus(booking.id, 'Approve')">Approve</button>
        <button mat-stroked-button color="warn" class="action-button" (click)="changeBookingStatus(booking.id, 'Reject')">Reject</button>
      </td>
    </ng-container>
  
    <tr
      mat-header-row
      *matHeaderRowDef="[
        'bikeBrand',
        'bikeName',
        'userName',
        'startTime',
        'endTime',
        'status',
        'changeStatus',
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['bikeBrand', 'bikeName','userName', 'startTime', 'endTime', 'status', 'changeStatus']
      "
    ></tr>
  </table>
  