.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 42px 0;
}

.title {
  padding-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

.mat-column-bikeBrand,
.mat-column-bikeName,
.mat-column-startTime,
.mat-column-endTime,
.mat-column-status,
.mat-column-changeStatus,
.mat-column-userName {
  border-right: 1px solid #ccc;
}

.action-button {
  margin-right: 12px;
  width: 100px;
}

.action-header {
  text-align: center;
}

.button-cell {
  text-align: center;
}

.no-bikes-text {
  text-align: center;
  margin-top: 16px;
}

.cards-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.bike-card {
  margin: 0 auto 26px auto;
  width: 90%;
  padding-left: 8px;
}

img {
  width: 100%;
  height: auto;
}

mat-card {
  border-radius: 16px;
}

.image-container {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 16px;
  right: 10%;
}

.card-content {
  margin-top: 8px;
  font-size: 16px;
}

.button-container {
  margin-bottom: 8px;
}

@media screen and (max-width: 720px) {
  .image-container {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards-container {
    width: 100%;
    padding-top: 20px;
  }

  .bike-card {
    max-width: 300px;
    margin: 0 auto 16px auto;
  }
}
