.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-column-bikeBrand,
.mat-column-bikeName,
.mat-column-startTime,
.mat-column-endTime,
.mat-column-status,
.mat-column-changeStatus,
.mat-column-userName {
  border-right: 1px solid #ccc;
}

.mat-elevation-z8 {
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-top: 16px;
}

th.mat-header-cell {
  font-weight: bold;
}

td.mat-cell.accepted {
  color: green;
}

td.mat-cell.pending {
  color: red;
}

.action-button {
  margin-right: 12px;
  width: 100px;
}

.action-header {
  text-align: center;
}

.button-cell {
  text-align: center;
}

.no-bikes-text {
  text-align: center;
  margin-top: 16px;
}

.cards-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

.bike-card {
  margin: 0 0 26px 0;
}

img {
  width: 100%;
  height: auto;
}

.image-container {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 16px;
  right: 10%;
}

.button-container {
  margin-bottom: 8px;
}

@media screen and (max-width: 720px) {
  .image-container {
    display: none;
  }
}


@media screen and (max-width: 400px) {
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards-container {
    width: 100%;
    padding-top: 20px;
  }

  .bike-card {
    max-width: 300px;
    margin: 0 auto 16px auto;
  }
}