<div class="main-container">
  <img src="../../../assets/bike-home.png" alt="bike" class="bike-home-image" />
  <div class="hero-card">
    <div class="card-header">
      <h2 class="card-title">Rent Your Dream Bike Today</h2>
      <p class="card-subtitle">
        Explore our wide range of bikes and start your adventure.
      </p>
    </div>
    <button mat-flat-button color="primary" (click)="onExploreClicked()">
      Explore Bikes
    </button>
  </div>
</div>

<app-testimonials></app-testimonials>

<footer>
  <div class="container">
    <div class="contact-social-container">
      <h4 class="site-title">Bike Rent</h4>
      <div class="contact-info">
        <p>Contact us: +977-123456789</p>
        <p>Email: info@bikerental.com</p>
      </div>
      <div class="social-links">
        <a href="#"
          ><img
            src="../../../assets/facebook.png"
            alt="Facebook"
            class="icon-image"
        /></a>
        <a href="#"
          ><img
            src="../../../assets/instagram.png"
            alt="Instagram"
            class="icon-image"
        /></a>
        <a href="#"
          ><img
            src="../../../assets/twitter.png"
            alt="Twitter"
            class="icon-image"
        /></a>
      </div>
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Bikes</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </div>
  </div>
</footer>
