header {
  color: #333;
  padding: 20px;
  text-align: center;
}

.testimonials-title {
  font-size: 38px;
  font-weight: 500;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 0 40px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.testimonial-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 16px;
  width: 60%;
  scroll-behavior: smooth;
  flex-direction: row;
  gap: 26px;
}

::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  flex: 0 0 auto;
  margin: 0 26px 0 0;
  width: 300px;
  border-radius: 18px;
  overflow: hidden;
}

.testimonial-card-inner {
  width: 300px;
  height: 300px;
  margin: 0 26px 26px 0;
  border-radius: 22px;
}

.profile-image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 16px auto;
}

.profile-image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.improvement {
  margin-bottom: 16px;
}

.improvement,
.username {
  font-size: 16px;
}

.email {
  font-size: 12px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
}

.rating {
  display: flex;
  align-items: center;
}

.rating mat-icon {
  font-size: 24px;
  color: orange;
  margin-right: 4px;
  margin-bottom: 8px;
}

.content-wrapper {
  height: 100px;
  overflow: auto;
}

@media screen and (max-width: 720px) {
  .testimonials-title {
    line-height: 40px;
  }

  .testimonial-container {
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }

  .testimonial-card {
    margin: 0 auto;
    width: 260px;
  }

  .testimonial-card-inner {
    width: 260px;
    height: 260px;
    margin-right: 0;
    padding: 8px;
  }

  .profile-image-container {
    width: 40px;
    height: 40px;
  }

  .user-info {
    flex-direction: column;
  }

  .content-wrapper {
    height: 120px;
  }

  .card-footer {
    margin: 0;
  }
}
