<div class="wrapper">
  <div class="bike-details" *ngIf="bikeDetails">
    <div class="bike-image">
      <img
        [src]="defaultUrl + '/' + bikeDetails.image"
        [alt]="bikeDetails.bike_name"
      />
    </div>
    <div class="bike-info">
      <h2>{{ bikeDetails.bike_brand }} {{ bikeDetails.bike_name }}</h2>
      <p>{{ bikeDetails.description }}</p>
      <div class="details">
        <p><strong>Price:</strong> Rs.{{ bikeDetails.price }}/hr</p>
        <p><strong>Type:</strong> {{ bikeDetails.type }}</p>
        <p><strong>Color:</strong> {{ bikeDetails.color }}</p>
        <p><strong>Weight:</strong> {{ bikeDetails.weight }} kg</p>
        <p><strong>Wheel Size:</strong> {{ bikeDetails.wheel_size }}"</p>
        <p><strong>Frame Material:</strong> {{ bikeDetails.frame_material }}</p>
        <p><strong>Brakes:</strong> {{ bikeDetails.brakes }}</p>
        <p><strong>Gears:</strong> {{ bikeDetails.gears }}</p>
      </div>
      <button
        mat-flat-button
        color="primary"
        routerLink="/admin/bike/{{ bikeDetails._id }}"
        class="update-button"
      >
        Update
      </button>
      <button mat-flat-button color="warn">Delete</button>
    </div>
  </div>
</div>
